#Set Memory Limit
php_value memory_limit 2000M

#Options -Indexes
<IfModule mod_rewrite.c>
# Activar RewriteEngine
RewriteEngine on
RewriteBase /codrise/gestion-de-almacenes/control-de-archivos
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
 
RewriteRule ^(.*)$ $1.php
</IfModule>

